/* Dark overlay for modal background */
.cliente-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal content box */
.cliente-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Error message styling */
.cliente-error-message {
    color: #cc0000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Edit profile form styling */
.cliente-edit-form {
    display: flex;
    flex-direction: column;
}

/* Form group styling */
.cliente-form-group {
    margin-bottom: 15px;
}

/* Input fields styling */
.cliente-form-group input,
.cliente-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit button styling */
.cliente-submit-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.cliente-submit-button:hover {
    background-color: #c92828;
}

/* Modal for displaying messages */
.cliente-modal-message {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

/* Validation and Confirmation modals */
.modalValidacion, .modalConfirmacion {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: fixed;
    top: 600%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100; /* Higher than overlay */
}

.modalValidacion p, .modalConfirmacion p {
    margin-bottom: 16px;
    font-size: 16px;
}

.modalValidacion button, .modalConfirmacion button {
    padding: 8px 16px;
    background-color: #b30000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modalValidacion button:hover, .modalConfirmacion button:hover {
    background-color: #990000;
}
