


.profileA-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté encima de otros elementos */
    opacity: 1;
    transition: opacity 0.3s ease;
}

.profileA-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 800%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.loading-message {
    font-size: 18px;
    color: #333;
}

.profileA-modal h1 {
    color: #b30000;
    font-size: 24px;
    margin-bottom: 20px;
}

.profileA-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.profileA-table th, .profileA-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}

.profileA-table th {
    background-color: #b30000;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.profileA-table td {
    color: #555;
}

.profileA-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    color: #555;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s;
}

.profileA-close:hover {
    color: #b30000;
}

