/* SolicitarProducto.css */

.solicitar-producto {
    padding: 20px;
    max-width: 800px;
    margin: 120px auto 0; /* Aumentar el margen superior para separar más del header */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.solicitar-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group select,
.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-group select:focus,
.form-group input:focus {
    border: 1px solid #b30000;
    outline: none;
    box-shadow: 0 0 5px rgba(179, 0, 0, 0.5);
}

button[type="submit"] {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
}

.volver-boton {
    position: fixed; /* Cambiar a fixed para que esté siempre visible */
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: #b30000; /* Cambiar el color de las letras a rojo */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 10; /* Asegúrate de que el botón esté por encima de otros elementos */
    padding: 0; /* Eliminar el padding para que el espacio del botón sea hasta donde termina la letra */
    text-decoration: none; /* Eliminar subrayado */
}

.volver-boton:hover {
    color: #ff4d4d; /* Cambiar el color en el hover */
    text-decoration: none; /* Asegurarse de que no haya subrayado en el hover */
}