/* VerSolicitudes.css */

.ver-solicitudes {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datatable-container {
    margin-top: 20px;
}

.loading-message,
.error-message {
    font-size: 1.5rem;
    color: #b30000;
    margin-top: 50px;
    text-align: center;
}